/* logo, nav-menu, button, icon, contact (reaction) #2196F3  #AFB1B8 */
/* logo #000000 */     /* contact #757575 */ 
/* nav-menu, filter-button #212121 #ffffff */   
/* title, link #ffffff #212121 */   
/* text #757575 */ 
/* background #ffffff */ 
/* section-bg #F5F4FA */

:root {
    --title-color: #212121;
    --accent-color: #2196F3;
    --font-logo: 'Raleway', sans-serif;
    --font-text: 'Roboto', sans-serif;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-style: normal;
  font-family: var(--font-text);
}

.list {
  list-style: none;
}

/* .link {
    lin
} */

                               /* logo */
.logo {
  color: #000000;
  font-family: var(--font-logo);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.20;
}

.logo-design {
  color: var(--accent-color);
}
                           /* navigation */
.menu-nav .link-nav {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link-nav:hover,
.link-nav:focus {
    color: var(--accent-color);
}

.contact-nav .link-contact {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link-contact:hover,
.link-contact:focus {
    color: var(--accent-color);
}

